<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue - CRUD - Tipomunição - Munição - Banco de Dados</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    </head> 
    <body> 
       
        <div class="container-fluid">
            <h2>Formulários e Banco de Dados</h2>
               <div class="row">
             <div class="col-xs-3">
               <ul class="nav nav-pills nav-stacked">
                 <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                 <li><a data-toggle="pill" href="#menu1">Munição</a></li>
                 <li><a data-toggle="pill" href="#menu2">Tipos de Munição</a></li>
               </ul>
             </div>
             <div class="col-xs-9">
               <div class="tab-content" id="app">
                 <div id="home" class="tab-pane fade in active">
                   <h3>HOME</h3>
                   <p>Em breve os dados dos Tipos de Munição e Munições... </p>
                 </div>

                 <div id="menu1" class="tab-pane fade">
                  
                    <h2>Listagem de Munições</h2>   

                    <table class="table table-striped" >
                        <tr>
                            <th scope="col">Cod.Artefato</th>
                            <th scope="col">Cod.TipoMunicao</th>
                            <th scope="col">Quant.Max.Compra</th>
                            <th scope="col">Calibre</th>
                            <th scope="col">Tipo de Munição</th>
                            <th scope="col">Alterar</th>
                            <th scope="col">Remover</th>
                        </tr>                     
                        <tbody>
                            <tr v-for="(m, indice) in municoes">                                                
                                    <td>{{m.codartefato}}</td>
                                    <td>{{m.cod_tipomunicao}}</td>
                                    <td>{{m.quant_max_compra}}</td>
                                    <td>{{m.calibre}}</td>
                                    <td>{{m.tiposmunicao.nome}}</td>
                                    <td><button v-on:click="editMunicao(indice)" class="btn" type="button">Alterar</button></td>
                                    <td><button v-on:click="remMunicao(indice)" class="btn" type="button">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>
  
                    <form id="formulario">     
                        <h3>Formulário para cadastrar Munição</h3>                   
                        <div>
                          <div class="form-group">
                            <label for="inputCodArtefato">Cod.Munição:</label>
                            <input type="text" v-model="nova_municao.codartefato" class="form-control" id="inputCodArtefato" disabled>
                          </div>

                          <div class="form-group">
                            <label for="inputCodTipomunicao">Cod.TipoMunição:</label>
                            <input type="text" v-model="nova_municao.cod_tipomunicao" class="form-control" id="inputCodTipomunicao" disabled>
                          </div>

                          <div class="form-group">
                              <label for="inputQuantmaxcompra">Quantidade Maxima para Compra:</label>
                              <input type="number" v-model="nova_municao.quant_max_compra" class="form-control" id="inputQuantmaxcompra">
                          </div>

                          <div class="form-group">
                            <label for="inputCalibre">Calibre:</label>
                            <input type="number" v-model="nova_municao.calibre" class="form-control" id="inputCalibre">
                        </div>

                          <div class="form-group">
                            <label for="selectTipomunicao"><a href="#menu2">Tipo de Munição:</a></label>
                            <select v-model="nova_municao.tipomunicao" class="form-control" id="selectTipomunicao">
                                <option disabled value="">Escolha um item</option>
                                <option v-for="e in tiposmunicao" v-bind:value="e">
                                    {{ e.nome}}
                                </option>
                            </select>
                          </div>    
                            
                          <button @click="addMunicao" class="btn btn-primary" type="button">Salvar</button>
                          <button @click="cleanFormularioMunicao" class="btn btn-primary" type="button">Limpar</button>                         
                        </div>                                                                            
                    </form> 

                 </div>
                 <div id="menu2" class="tab-pane fade">

                    <h2>Listagem de Tipos de Munição</h2>   

                    <table class="table table-striped" >
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data de Criação</th>                          
                            <th scope="col">Alterar</th>
                            <th scope="col">Remover</th>
                        </tr>                     
                        <tbody>
                            <tr v-for="(t, indice) in tiposmunicao">                                                
                                    <td>{{indice}}</td>
                                    <td>{{t.codigo}}</td>
                                    <td>{{t.nome}}</td>
                                    <td>{{t.datacriacao}}</td>
                                    <td><button v-on:click="editTipoMunicao(indice)" class="btn" type="button">Alterar</button></td>
                                    <td><button v-on:click="remTipoMunicao(indice)" class="btn" type="button">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <form id="formulario">                        
                      <h3>Formulário para cadastrar Tipos de Munição</h3>
                          <div class="form-group">
                              <label for="inputCodigo">#:</label>
                              <input type="text" v-model="novo_tipomunicao.codigo" class="form-control" id="inputCodigo" disabled>
                          </div>

                          <div class="form-group">
                              <label for="inputNome">Nome:</label>
                              <input type="text" v-model="novo_tipomunicao.nome" class="form-control" id="inputNome">
                          </div>
                        
                        <div class="form-group">
                            <label for="inputDtCriacao">Data de Criação:</label>
                            <input type="date" v-model="novo_tipomunicao.datacriacao" class="form-control" id="inputDtCriacao" disabled>
                        </div> 
                          
                          <button @click="addTipoMunicao" class="btn btn-primary" type="button">Salvar</button>
                          <button @click="cleanTipoMunicao" class="btn btn-primary" type="button">Limpar</button>
                                                                                                      
                    </form>  

                  </div>
               </div>
             </div>
           </div>
         </div>
    </body>

    <script type="text/javascript">

    $(document).ready(function() {

      var municoes = [];

      var tiposmunicao = [];      

      var dados = {"municoes": municoes,
                  "nova_municao" : {indice: '',
                                    codartefato: '',
                                    cod_tipomunicao: '',
                                    quant_max_compra: '',
                                    calibre: '',
                                    tipomunicao: {codigo: 0, nome: '', datacriacao: ''}},
                  "tiposmunicao": tiposmunicao,
                  "novo_tipomunicao" : {codigo: '', nome: '', datacriacao: ''}};

      

      Vue.filter('formataData', function (value) {                
                //yyyy-mm-dd
                var data = new Date(value);
                data.setDate(data.getDate()+1); //incrementa a data em um dia para mostrar corretamente (pode nao ser necessário)              
                dia  = (data.getDate()).toString().padStart(2, '0'),
                mes  = (data.getMonth()+1).toString().padStart(2, '0'), //+1 pois no getMonth Janeiro começa com zero.                
                ano  = data.getFullYear();                
                return dia+"/"+mes+"/"+ano;                
        })

      Vue.prototype.$http = axios;

      new Vue({ 
                el: '#app', 
                data: dados,
                methods: {

                    addMunicao: function () {
                        
                        var municao = jQuery.extend({}, this.nova_municao);//clona o this.nova_municao e armazena na variavel municao. dessa forma alteracoes em this.nova_municao nao irao refletir em municao.
                        var tipomunicao = jQuery.extend({}, this.nova_municao.tipomunicao);//clona o this.nova_municao.nome
                        municao.tipomunicao = tipomunicao;


                        if (municao.calibre > 0 && municao.quant_max_compra > 0 && municao.tipomunicao.nome !="") {
                            
                            //documentação sobre o parseInt
                            //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/parseInt
                            if(isNaN(parseInt(municao.indice))){

                                                         
                                this.$http.post('http://localhost:4000/insertmunicao', municao
                                   )
								.then(response => { 	
										
										this.municoes.push(response.data);										
                                        alert('Inseriu a Munição '+response.data.codartefato);
									})
								.catch(error => { 
                                    console.log(error)
									alert('Erro ao inserir a munição: '+error.response.data);
								});	

                            }else{

                                this.$http.post('http://localhost:4000/updatemunicao', municao
                                   )
								.then(response => {

                                        Vue.set(this.municoes, municao.indice, response.data);//altera um elemento do vetor this.municoes

                                        alert('Alterou a Munição '+response.data.codartefato);
									})
								.catch(error => { 
                                    console.log(error)
									alert('Erro ao alterar a Munição: '+error);
								});	

                            }

                            this.cleanFormularioMunicao();

                        }else{

                            alert("Preencha o formulário corretamente!!!");
                        }
                    },


                    editMunicao: function (param_index) {
                        this.nova_municao.indice = param_index
                        this.nova_municao.codartefato = this.municoes[param_index].codartefato;
                        this.nova_municao.cod_tipomunicao = this.municoes[param_index].cod_tipomunicao;
                        this.nova_municao.quant_max_compra = this.municoes[param_index].quant_max_compra;
                        this.nova_municao.calibre = this.municoes[param_index].calibre;
                        this.nova_municao.tipomunicao = this.municoes[param_index].tipomunicao;                      
                    },


                    

                    remMunicao: function(param_index){

                        //documentacao sobre o splice
                        //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
                        //remove 1 elemento do índice definido pela variavel param_index

                        var r = confirm('Deseja realmente remover este Item? ');
                        if (r) { 

                            this.$http.get('http://localhost:4000/deletemunicao/' + this.municoes[param_index].codartefato)
                                .then(response => {

                                    this.municoes.splice(param_index, 1);

                                    alert('Removeu com sucesso a municao ' + response.data.codartefato);
                                    })

                                .catch(error => {                                     
                                    alert('Erro ao remover: ' + error);
                                    console.log(error);
                            });
                        }                            

                    },
                    
                    cleanFormularioMunicao: function() {

                        this.nova_municao.codartefato = '';
                        this.nova_municao.cod_tipomunicao = ''; 
                        this.nova_municao.quant_max_compra = '';
                        this.nova_municao.calibre = '';
                        this.nova_municao.tipomunicao = '';
                    }
                },

                created: function(){
                
                this.$http.get('http://localhost:4000/listmunicao')
                                    
                    .then(response => {

                        for(let j of response.data){

                            this.municoes.push({codartefato: j.codartefato,
                                                cod_tipomunicao:j.tipomunicao,
                                                quant_max_compra:j.quant_max_compra,
                                                calibre:j.calibre,
                                                tipomunicao:{codigo: j.codigo,
                                                             nome: j.nome,
                                                             datacriacao: j.datacriacao},                                                  
                                                }
                                            );

                        }
                    
                    }).catch(response => {
                        
                        alert('Não conectou no serviço: listmunicao');
                        console.log(response);
                    });
                    
                }
                
          
          }); 

    });



    </script>
</html>